/* Font Import */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* Default*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}

body {
    width: 100%;
    background: rgb(219, 219, 219);
    
}

body, html {
    font-family: 'Montserrat', sans-serif;
}

main {
    grid-area: content;
    display: grid;
    grid-template-areas: "s1" "s2" "s3" "s4" "s5";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 75%;
    margin: 20px auto;
    gap: 1em;
    height: 200vh;
}

.section1{
    grid-area: s1;
    background-color: rgb(75, 36, 36);
    position: relative;


}
.section2{
    grid-area: s2;
    background-color: rgb(224, 169, 169);
}
.section3{
    grid-area: s3;
    background-color: rgb(46, 13, 13);
}
.section4{
    grid-area: s4;
    background-color: rgb(88, 170, 120);
}
.section5{
    grid-area: s5;
    background-color: rgb(141, 30, 82);
}


footer {
    grid-area: footer;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
}
h4{
    color: white;
    font-family: 'Montseratt', sans-serif;
    font-weight: normal;
}

/* Removes default styles for links in a, li */

a, li {
    text-decoration: none;
    list-style-type: none;

}

.pagewrapper {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 65px auto 40px;
    grid-template-areas: "nav" "content" "footer";
}



/* NAV */

nav {
    grid-area: nav;
    width: 100%;
    height: 65px;
    background-color: chocolate;
}

.navCont {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse; /*Temporary*/
}

.menu {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


/*highlight for menu elements*/

.menu a {
    color: rgb(255, 255, 255);
}

.menu a:hover {
    color: rgb(202, 202, 202);
}

/*Hamburger meny*/

/*Media*/
@media screen and (max-width: 800px) {}