@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}

body {
    width: 100%;
    height: auto;
    background: rgb(219, 219, 219);
}

body, html {
    font-family: 'Montserrat', sans-serif;
}

/* Div Container - contains the whole page document */
.container {
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: 120px 700px auto 40px;
    grid-template-areas: "header" "mellan" "content" "footer";
}


/* Nav */
.logo {
    margin: 10px;
    height: 8vh;
}

.header {
    z-index: 10;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    transition: ease-in-out .4s;
}


/*Hamburger meny*/
.hamburger-menu {
    z-index: 100;
    width: 35px;
    height: 30px;
    position: fixed;
    top: 37px;
    right: 50px;
    
    transition: ease-in-out .4s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.line {
    width: 100%;
    height: 3px;
    background-color: chocolate;
    transition: all 0.8s;
}

.navbar {
    z-index: 99;
    position: fixed;
    top: 0;
    right: -100%;

    width: 300px;
    height: 100vh;

    background-color: rgb(44, 4, 4);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20% 0 0 20%;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}
.nav-list {
    text-align: right;
    position: absolute;

}
.nav-item{
    list-style: none;
    margin: 25px;
}
.nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    letter-spacing: 1px;
    position: relative;
    padding: 3px 0;
}
.hamburgerChange .line-1 {
    transform: rotateZ(-405deg) translate( -8px, 6px);
}
.hamburgerChange .line-2 {
    opacity: 0;
}
.hamburgerChange .line-3 {
    transform: rotateZ(405deg) translate( -8px, -6px);
}

.change {
    right: 0;
}

.overflowChange {
    overflow: hidden;
}

/* Main Tag*/
.innehåll {
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "ar1" "s1" "sec1pt2" 
    "ar2" "s2" 
    "ar3" "s3" 
    "ar4" "s4" 
    "ar5" "s5";
    grid-template-rows: 5vh 1fr 1fr 5vh 1fr 5vh 1fr 5vh 1fr 5vh 1fr;
    width: 75%;
    margin: 2vw auto;
    grid-gap: 3vh;
    height: 135vh;
}

/* Pagewrapper main för om_oss.html*/
.om_oss_content {
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "ar1" "s1"
    "ar2" "s2"
    "ar3" "s3";
    grid-template-rows: 40px 1fr 40px 1fr 40px 1fr;
    width: 75%;
    margin: 20px auto;
    grid-gap: 3vh;
    height: 140vh;
}

.container_om_oss {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 120px  auto 40px;
    grid-template-areas: "header" "content" "footer";
}

/*Pagewrapper main för shop1/shop2 */
.shop_content {
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "ar1" "s1" 
    "s2";
    grid-template-rows: 40px 1fr 30px;
    width: 75%;
    margin: 20px auto;
    grid-gap: 3vh;
    height: 150vh;
}
.container_shop{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 120px auto 40px;
    grid-template-areas: "header" "content" "footer";
}

/*Pagewrapper vagnsida*/
.container_vagn_sida {
    width: 100%;
    display: grid;
    grid-template-rows: 120px  auto 40px;
    grid-template-areas: "header" "content" "footer";
    height: 110vh;
}
.vagn_sida_content {

    grid-template-rows: auto ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5vh;

    grid-template-areas: "s1 s2 s2";
    grid-area: content;
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: grid;
    
}

/* Bild - mellan content och nav*/
.bild-mellan {
    grid-area: mellan;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    
}
.bild-mellan > img , .clickable{
    width: 45vw;
    height: 60vh;
    border-radius: 5%;
}



/*Articles*/
 article{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .article1{
    grid-area: ar1;
 }
 .article2{
    grid-area: ar2;
 }
 .article3{
    grid-area: ar3;
 }
 .article4 {
    grid-area: ar4;
 }
 
.om_oss_content > .article1 {
    margin-top: 1%;
}

 /* Sections*/
 .section1{
    grid-area: s1;
    display: flex; 
    justify-content: space-evenly;   
    
}


.section1 > img , .section1_pt2 > img{
    width: 10vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 3vh;
}

.section1_pt2 {
    grid-area: sec1pt2;
    display: flex;
    justify-content: space-evenly;

}
.section2{
    grid-area: s2;
}
.section2 > img {
    width: 13vw;
    height: 23vh;
    display: inline-flex;
    justify-content: center;
    margin-right: 5vw;
    border-radius: 20px;
}
.section3{
    grid-area: s3;
    background-color: rgb(160, 150, 150);
}


.section2_arrow {
    grid-area: s2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}

.section1_shop {
    grid-area: s1;
    display: grid;
    grid-template-areas: "r1" "ar1" "r2" "ar2" "r3" "ar3" "r4" "ar4";
}

.section1_vagn {
    width: 100%;
    grid-area: s1;

}
.section2_vagn_info {
    width: 100%;
    grid-area: s2;
    border-radius: 5%;
    margin-left: 5%;
    padding: 5%;

}
.section1_vagn > img {
    border-radius: 5%;
    margin-top: 5%;
}


.row_1 > img , .row_2 > img , .row_3 > img, .row_4 > img{
    width: 10vw;
    height: 20vh;
    border-radius: 30px;
}
.row_1 {
    grid-area: r1;
    display: flex;
    justify-content: space-around;
    margin-bottom: -10% ;
    
}
.row_2 {
    grid-area: r2;
    display: flex;
    justify-content: space-around;
    margin-bottom: -10% ;
}
.row_3 {
    grid-area: r3;
    display: flex;
    justify-content: space-around;
    margin-bottom: -10% ;
}
.row_4 {
    grid-area: r4;
    display: flex;
    justify-content: space-around;
    margin-bottom: -10%;
}


.om_oss_info {
    background-color: rgb(200, 200, 200);
    border-radius: 2vw;
    grid-area: s1;
}
.om_oss_kontakt {
    background-color: rgb(200, 200, 200);
    border-radius: 2vw;
    grid-area: s2;
}
.vara_lokaler {
    background-color: rgb(200, 200, 200);
    border-radius: 2vw;
    grid-area: s3;
}
.om_oss_content > section {
    margin-bottom: 4%;
}


.pris_row_1 , .pris_row_2 , .pris_row_3 , .pris_row_4 {
    display: flex; 
    justify-content: space-around;
}

.mitten {
    display: flex;
    justify-content: center;
    align-items: center;
    
}



footer {
    grid-area: footer;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Styling -> font */
h4{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;    
}
.innehåll > .article1 > h3 {

}
 .om_oss_info > p , .om_oss_kontakt > p , .vara_lokaler > p  {
    font-size: 20px;
    margin: 20px;
}
.section2_vagn_info > p {
    font-size: 20px;
    margin: 15px;
    line-height: 1.5em;
}
.section2_vagn_info > h2 {
    font-size: 40px;
    color: green;
    margin: 2%;
    font-family: 'Montserrat', sans-serif;
}



h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;

}


/* Removes default styles for links in a, li */

a, li {
    text-decoration: none;
    list-style-type: none;

}

/* NavArrows bottom*/
i {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 7px;
}
.next {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.previous {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.box_arrow {
    background-color: white;
    width: 1.5vw;
    height: 4vh;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 1vh;
}
.box_arrow_prev {
    background-color: white;
    width: 1.5vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
}

/*Media*/

@media screen and (max-width: 1500px) {
    .container {
        grid-template-rows: 120px 430px auto 40px;
        
    }
    
    .innehåll {
        height: 120vh;
    }
    .bild-mellan > img , .clickable{
        width: 40vw;
        height: 45vh;
    }
    .logo {
        margin: 1%;
        height: 6vh;
        margin-left: -10px;

    }
    
    .section1 > img , .section1_pt2 > img{
        width: 12vw;
        height: 12vh;
        margin-bottom: 1vh;
        margin-right: 3vw;
    }
    .section2 > img{
        width: 14vw;
        height: 14vh;
        margin-right: 50vw;
    }
    .section1_shop > section > img { 
        width: 18vw;
        height: 15vh;
        border-radius: 10%;
        margin-left: 10px;
    }
    .section1_shop {
        margin-left: -150px;
    }
    .section1_shop > article {
        font-size: 36px;
        margin-top: -150px;
    }
    .box_arrow {
        width: 2vw;
        height: 4vh;
        border-radius: 25%;
    }
    .shop_content > .article1 > h3 {
        font-size: 45px;
        font-weight: bold;
    }
    .section1_vagn > img{
        width: 80vw;
        height: 50vh;
        
    }
    .vagn_sida_content {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "s1"
        "s2";
    }
    .mitten > h2{
        font-size: 40px;
        margin-top: -50px;
    }
    .section2_vagn_info > p{
        font-size: 30px;
    }
    .section2_vagn_info {
        margin-left: -10px;
    }
    .section2_vagn_info > h3{
        font-size: 34px;
    }
    .section2_vagn_info > h2{
        font-size: 56px;
    }
    
}

@media screen and (max-width: 1250px) {
    .container {
        grid-template-rows: 120px 450px auto 40px;
        
    }
    .innehåll {
        height: 120vh;
    }
    .logo {        
        height: 6vh;
        margin-left: -10px;
    }
    .bild-mellan > img , .clickable{
        width: 45vw;
        height: 30vh;
        border-radius: 5%;
    }

    .section1 > img , .section1_pt2 > img{
        width: 13vw;
        height: 9vh;
        margin-bottom: 1vh;
        margin-right: 3vw;
    }
    .section2 > img{
        width: 17vw;
        height: 14vh;
        margin-right: 2vw;
    }
    .barnvagnsinfo {
        font-size: 22px;
    }
    .container_om_oss {
        height: 160vh;
    }
    .om_oss_content > section > p{
        font-size: 24px;
        line-height: 1.5rem;
    }
    .section1_shop > section > img { 
        width: 18vw;
        height: 15vh;
        border-radius: 10%;
        margin-left: 15px;
    }
    .section1_shop {
        margin-left: -120px;
    }
    .section1_shop > article {
        font-size: 34px;
        margin-top: -180px;
    }
    .box_arrow {
        width: 3vw;
        height: 4vh;
        border-radius: 25%;
    }
    .box_arrow_prev {
        width: 3vw;
        height: 4vh;
        border-radius: 25%;
    }
    .shop_content > .article1 > h3 {
        font-size: 40px;
        font-weight: bold;
    }
    .section1_vagn > img{
        width: 80vw;
        height: 50vh;
        
    }
    .vagn_sida_content {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "s1"
        "s2";
    }
    .mitten > h2{
        font-size: 40px;
        margin-top: -50px;
    }
    .section2_vagn_info > p{
        font-size: 30px;
    }
    .section2_vagn_info {
        margin-left: -10px;
    }
    .section2_vagn_info > h3{
        font-size: 34px;
    }
    .section2_vagn_info > h2{
        font-size: 56px;
    }
}
@media screen and (max-width: 1000px) {
    .container {
        grid-template-rows: 120px 350px auto 40px;
        
    }
    .innehåll {
        height: 140vh;
    }
    .logo {
        margin: 2%;
        height: 6vh;
        margin-left: -10px;
    }
    .bild-mellan > img , .clickable{
        width: 45vw;
        height: 45vh;
        border-radius: 5%;
    }

    .section1 > img , .section1_pt2 > img{
        width: 13vw;
        height: 15vh;
        margin-bottom: 1vh;
        margin-right: 3vw;
    }
    .section2 > img{
        width: 16vw;
        height: 20vh;
        margin-right: 3.5vw;
    }
    .article3 {
        margin-top: 3vh;
    }
    article > h3 {
        font-size: 22px;
        font-weight: bold;
    }
    
    .barnvagnsinfo {
        font-size: 14px;
        margin-top: 2vh;
    }
    .container_om_oss {
        height: 230vh;
    }
    .om_oss_content > section > p{
        font-size: 24px;
        line-height: 1.5rem;
    }
}
@media screen and (max-width: 800px) {
    
    .container {
        grid-template-rows: 120px 380px auto 40px;
        
    }
    .innehåll {
        height: 130vh;
    }
    .logo {
        margin: 1%;
        height: 7vh;
        margin-left: -10px;
    }
    .bild-mellan > img , .clickable{
        width: 45vw;
        height: 35vh;
        border-radius: 5%;
    }

    .section1 > img , .section1_pt2 > img{
        width: 13vw;
        height: 10vh;
        margin-bottom: 1vh;
        margin-right: 3vw;
    }
    .section2 > img{
        width: 16vw;
        height: 13vh;
        margin-right: 3.5vw;
    }
    .article3 {
        margin-top: 3vh;
    }
    
    .barnvagnsinfo {
        font-size: 18px;
        margin-top: 2vh;
    }
    .container_om_oss {
        height: 200vh;
    }
    .om_oss_content > section > p{
        font-size: 22px;
        line-height: 1.5rem;
    }
    .section1_shop > section > img { 
        width: 18vw;
        height: 15vh;
        border-radius: 10%;
        margin-left: 10px;
    }
    .section1_shop {
        margin-left: -85px;
    }
    .section1_shop > article {
        font-size: 24px;
        margin-top: -150px;
    }
    .box_arrow {
        width: 4vw;
        height: 5vh;
        border-radius: 25%;
    }
    .box_arrow_prev {
        width: 4vw;
        height: 5vh;
        border-radius: 25%;
    }
    .shop_content > .article1 > h3 {
        font-size: 34px;
    }
    .section1_vagn > img{
        width: 80vw;
        height: 50vh;
        
    }
    .vagn_sida_content {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "s1"
        "s2";
    }
    .mitten > h2{
        font-size: 30px;
        margin-top: -30px;
    }
    .section2_vagn_info > p{
        font-size: 20px;
    }
    .section2_vagn_info {
        margin-left: -10px;
    }
}
@media screen and (max-width: 650px) {
    .navbar {
        width: 250px;
    }
    .container {
        grid-template-rows: 120px 230px auto 40px;
        
    }
    .innehåll {
        height: 140vh;
    }
    .logo {
        margin: 3%;
        height: 8vh;
        margin-left: -10px;
    }
    .bild-mellan > img , .clickable{
        width: 45vw;
        height: 30vh;
        border-radius: 5%;
    }

    .section1 > img , .section1_pt2 > img{
        width: 12vw;
        height: 8vh;
        margin-bottom: 1vh;
        margin-right: 3vw;
    }
    .section2 > img{
        width: 16vw;
        height: 10vh;
        margin-right: 1.8vw;
    }
    .article3 {
        margin-top: 3vh;
    }
    article > h3 {
        font-size: 18px;
        font-weight: bold;
    }
    .article1 > h3 , .article2 > h3{
        font-size: 22px;
    }
    .barnvagnsinfo {
        font-size: 14px;
        margin-top: 2vh;
    }
    .container_om_oss {
        height: 360vh;
    }
    .om_oss_content > section > p{
        font-size: 16px;
        line-height: 1.5rem;
    }
    .container_om_oss {
        height: 340vh;
    }
    .om_oss_content > section > p{
        font-size: 20px;
        line-height: 1.5rem;
    }
    .section1_shop > section > img { 
        width: 18vw;
        height: 15vh;
        border-radius: 10%;
        margin-left: 6px;
        margin-bottom: -100px;
    }
    .section1_shop {
        margin-left: -60px;
    }
    .section1_shop > article {
        font-size: 18px;
        margin-top: -150px;
    }
    
    .box_arrow {
        width: 5vw;
        height: 6vh;
        border-radius: 25%;
    }
    .box_arrow_prev {
        width: 8vw;
        height: 6vh;
        border-radius: 25%;
    }
}
@media screen and (max-width: 450px) {
    .navbar {
        width: 200px;
    }
    .container {
        grid-template-rows: 120px 220px auto 40px;
        
    }
    .innehåll {
        height: 170vh;
    }
    .logo {
        margin: 5%;
        height: 7vh;
        margin-left: -10px;
    }
    .bild-mellan > img , .clickable{
        width: 40vw;
        height: 25vh;
        border-radius: 5%;
    }

    .section1 > img , .section1_pt2 > img{
        width: 12vw;
        height: 8vh;
        margin-bottom: 1vh;
        margin-right: 3vw;
    }
    .section2 > img{
        width: 16vw;
        height: 10vh;
        margin-right: 1.8vw;
    }
    .article3 {
        margin-top: 3vh;
    }
    article > h3 {
        font-size: 18px;
        font-weight: bold;
    }
    .article1 > h3 , .article2 > h3{
        font-size: 22px;
    }
    .barnvagnsinfo {
        font-size: 14px;
        margin-top: 2vh;
    }
    .container_om_oss {
        height: 360vh;
    }
    .om_oss_content > section > p{
        font-size: 16px;
        line-height: 1.5rem;
    }
    .section1_shop > section > img { 
        width: 18vw;
        height: 15vh;
        border-radius: 10%;
        margin-left: 4px;
    }
    .section1_shop {
        margin-left: -35px;
    }
    .section1_shop > article {
        font-size: 14px;
        margin-top: -100px;
    }
    .box_arrow {
        width: 7vw;
        height: 6vh;
        border-radius: 25%;
    }
    .section1_vagn > img{
        width: 80vw;
        height: 35vh;
        
    }
    .vagn_sida_content {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "s1"
        "s2";
    }
    .section2_vagn_info > p{
        font-size: 16px;
    }
    .section2_vagn_info {
        margin-left: -10px;
    }
}
@media screen and (max-width: 375px) {
    .navbar {
        width: 200px;
    }
    .container {
        grid-template-rows: 120px 220px auto 40px;
        
    }
    .innehåll {
        height: 170vh;
    }
    .logo {
        margin: 5%;
        height: 7vh;
        margin-left: -10px;
    }
    .bild-mellan > img , .clickable{
        width: 40vw;
        height: 25vh;
        border-radius: 5%;
    }

    .section1 > img , .section1_pt2 > img{
        width: 12vw;
        height: 8vh;
        margin-bottom: 1vh;
        margin-right: 3vw;
    }
    .section2 > img{
        width: 16vw;
        height: 10vh;
        margin-right: 1.8vw;
    }
    .article3 {
        margin-top: 3vh;
    }
    article > h3 {
        font-size: 18px;
        font-weight: bold;
    }
    .article1 > h3 , .article2 > h3{
        font-size: 22px;
    }
    .barnvagnsinfo {
        font-size: 14px;
        margin-top: 2vh;
    }
    .container_om_oss {
        height: 430vh;
    }
    .om_oss_content > section > p{
        font-size: 16px;
        line-height: 1.5rem;
    }
    .section1_vagn > img{
        width: 80vw;
        height: 30vh;
        
    }
    .vagn_sida_content {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "s1"
        "s2";
    }
    .section2_vagn_info > p{
        font-size: 16px;
    }
    .section2_vagn_info {
        margin-left: -10px;
    }
    
}

@media screen and (max-width: 360px) {
    .container {
        grid-template-rows: 120px 200px auto 40px;
        
    }
    .innehåll {
        height: 190vh;
        
    }
    .logo {
        margin: 5%;
        height: 9vh;
        margin-left: -10px;
    }
    .bild-mellan > img , .clickable{
        width: 40vw;
        height: 25vh;
    }
    
    .section1 > img , .section1_pt2 > img{
        width: 13vw;
        height: 10vh;
        margin-right: 2vw;
    }
    .section2 > img{
        width: 13vw;
        height: 10vh;
        margin-right: 4.5vw;
    }
    .article3 {
        margin-top: 3vh;
    }
    article > h3 {
        font-size: 18px;
        font-weight: bold;
    }
    .article1 > h3 , .article2 > h3{
        font-size: 22px;
    }
    .barnvagnsinfo {
        font-size: 14px;
        margin-top: 2vh;
    }
    .container_om_oss {
        height: 410vh;
    }
    .om_oss_content > section > p{
        font-size: 14px;
        line-height: 1.5rem;
    }
    .section1_shop > section > img { 
        width: 17vw;
        height: 13vh;
        border-radius: 10%;
        margin-left: 10px;
    }
    .section1_shop {
        margin-left: -45px;
    }
    .section1_shop > article {
        font-size: 18px;
        margin-top: -80px;
    }
    .section1_vagn > img{
        width: 80vw;
        height: 40vh;
        
    }
    .vagn_sida_content {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "s1"
        "s2";
        
    }
    .section2_vagn_info > p{
        font-size: 16px;
    }
    .section2_vagn_info {
        margin-left: -10px;
    }
    .navbar {
        width: 200px;
    }
}
@media screen and (max-width: 320px) {
    .container {
        grid-template-rows: 120px 200px auto 40px;
        
    }
    .innehåll {
        height: 220vh;
        
    }
    .logo {
        margin: 8%;
        height: 8vh;
        margin-left: -10px;
    }
    .bild-mellan > img , .clickable{
        width: 40vw;
        height: 25vh;
    }
    
    .section1 > img , .section1_pt2 > img{
        width: 13vw;
        height: 10vh;
        margin-right: 2vw;
    }
    .section2 > img{
        width: 13vw;
        height: 10vh;
        margin-right: 4.5vw;
    }
    .article3 {
        margin-top: 3vh;
    }
    article > h3 {
        font-size: 18px;
        font-weight: bold;
    }
    .article1 > h3 , .article2 > h3{
        font-size: 22px;
    }
    .barnvagnsinfo {
        font-size: 14px;
        margin-top: 2vh;
    }
    /*Om oss*/
    .container_om_oss {
        height: 510vh;
    }
    .om_oss_content > section > p{
        font-size: 14px;
        line-height: 1.5rem;
    }
    .section1_vagn > img{
        width: 80vw;
        height: 40vh;
        
    }
    .vagn_sida_content {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "s1" "s2";
    }
    
    .section2_vagn_info > p{
        font-size: 16px;
    }
    .section2_vagn_info {
        margin-left: -10px;
    }
    .navbar {
        width: 200px;
    }
}