/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* Default*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}

body {
    width: 100%;
    background: rgb(219, 219, 219);
}

body, html {
    font-family: 'Montserrat', sans-serif;
}

/*Main pagewrapper*/
.pagewrapper {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 65px 575px auto 40px;
    grid-template-areas: "nav" "mellan" "content" "footer";
}
/* Pagewrapper main (content)*/

.innehåll {
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "ar1" "s1" 
    "ar2" "s2" 
    "ar3" "s3" 
    "ar4" "s4" 
    "ar5" "s5";
    grid-template-rows: 40px 1fr 40px 1fr 40px 1fr 40px 1fr 40px 1fr;
    width: 75%;
    margin: 20px auto;
    grid-gap: 3vh;
    height: 140vh;
}

/* Pagewrapper main för om_oss.html*/
.om_oss_content {
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "ar1" "s1"
    "ar2" "s2";
    grid-template-rows: 40px 1fr 40px 1fr;
    width: 75%;
    margin: 20px auto;
    grid-gap: 3vh;
    height: 80vh;
}

.pagewrapper_om_oss {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 65px auto 40px;
    grid-template-areas: "nav" "content" "footer";
}

/* Bild - mellan content och nav*/
.bild-mellan {
    grid-area: mellan;
    display: flex;
    justify-content: space-evenly;
}

.bild1 {
    flex: left;
    width: 45vw;
    height: 60vh;
}

.bild2 {
    grid-area: right;
    width: 45vw;
    height: 60vh;
}


/*Articles*/
 article{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .article1{
    grid-area: ar1;
 }
 .article2{
    grid-area: ar2;
 }


 /* Sections*/
 .section1{
    grid-area: s1;
}
.section1 > img {
    width: 13vw;
    height: 23vh;
    display: inline-flex;
    justify-content: center;
}
.section2{
    grid-area: s2;
}
.section2 > img {
    width: 13vw;
    height: 23vh;
    display: inline-flex;
    justify-content: center;
    margin-right: 5vw;
}
.section3{
    grid-area: s3;
    background-color: rgb(160, 150, 150);
}
.om_oss_info {
    background-color: rgb(160, 150, 150);
    border-radius: 50px;
    grid-area: s1;
}
.om_oss_kontakt {
    background-color: rgb(160, 150, 150);
    border-radius: 50px;
    grid-area: s2;
}

footer {
    grid-area: footer;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Styling -> font */
h4{
    color: white;
    font-family: 'Montseratt', sans-serif;
    font-weight: normal;
}
p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;    
}
 .om_oss_info > p , .om_oss_kontakt > p{
    font-size: 20px;
    margin: 20px;
}

h3 {
    color: black;
    font-family: 'Montseratt', sans-serif;
    font-weight: normal;

}

/* Removes default styles for links in a, li */

a, li {
    text-decoration: none;
    list-style-type: none;

}

/* NAV */

nav {
    grid-area: nav;
    width: 100%;
    height: 65px;
    background-color: chocolate;
}

.navCont {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse; /*Temporary*/
}

.menu {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*highlight for menu elements*/

.menu a {
    color: rgb(255, 255, 255);
}

.menu a:hover {
    color: rgb(202, 202, 202);
}

/*Hamburger meny*/

/*Media*/
@media screen and (max-width: 800px) {}
