/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* Default*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}

body {
    width: 100%;
    background: rgb(219, 219, 219);
}

body, html {
    font-family: 'Montserrat', sans-serif;
}

/*Main pagewrapper*/
.container {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 65px 575px auto 40px;
    grid-template-areas: "nav" "mellan" "content" "footer";
}
/* Pagewrapper main (content)*/

.innehåll {
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "ar1" "s1" "sec1pt2" 
    "ar2" "s2" 
    "ar3" "s3" 
    "ar4" "s4" 
    "ar5" "s5";
    grid-template-rows: 5vh 1fr 1fr 5vh 1fr 5vh 1fr 5vh 1fr 5vh 1fr;
    width: 75%;
    margin: 2vw auto;
    grid-gap: 3vh;
    height: 135vh;
}

/* Pagewrapper main för om_oss.html*/
.om_oss_content {
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "ar1" "s1"
    "ar2" "s2"
    "ar3" "s3";
    grid-template-rows: 40px 1fr 40px 1fr 40px 1fr;
    width: 75%;
    margin: 20px auto;
    grid-gap: 3vh;
    height: 120vh;
}

.pagewrapper_om_oss {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 65px auto 40px;
    grid-template-areas: "nav" "content" "footer";
}

/*Pagewrapper main för shop1/shop2 */
.shop_content {
    grid-area: content;
    display: grid;
    grid-template-areas: 
    "ar1" "s1" 
    "s2";
    grid-template-rows: 40px 1fr 30px;
    width: 75%;
    margin: 20px auto;
    grid-gap: 3vh;
    height: 150vh;
}
.pagewrapper_shop{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 65px auto 40px;
    grid-template-areas: "nav" "content" "footer";
}

/*Pagewrapper vagnsida*/
.pagewrapper_vagn_sida {
    width: 100%;
    display: grid;
    grid-template-rows: 65px auto 40px;
    grid-template-areas: "nav" "content" "footer";
    height: 110vh;
}
.vagn_sida_content {

    grid-template-rows: auto ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5vh;

    grid-template-areas: "s1 s2 s2";
    grid-area: content;
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: grid;
    
}

/* Bild - mellan content och nav*/
.bild-mellan {
    grid-area: mellan;
    display: flex;
    justify-content: space-evenly;
    
}
.bild-mellan > img , .clickable > img{
    width: 45vw;
    height: 60vh;
    border-radius: 5%;
}



/*Articles*/
 article{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .article1{
    grid-area: ar1;
 }
 .article2{
    grid-area: ar2;
 }
 .article3{
    grid-area: ar3;
 }
 .article4 {
    grid-area: ar4;
 }


 /* Sections*/
 .section1{
    grid-area: s1;
    display: flex; 
    justify-content: space-evenly;   
    
}


.section1 > img , .section1_pt2 > img{
    width: 10vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 3vh;
}

.section1_pt2 {
    grid-area: sec1pt2;
    display: flex;
    justify-content: space-evenly;

}
.section2{
    grid-area: s2;
}
.section2 > img {
    width: 13vw;
    height: 23vh;
    display: inline-flex;
    justify-content: center;
    margin-right: 5vw;
    border-radius: 20px;
}
.section3{
    grid-area: s3;
    background-color: rgb(160, 150, 150);
}


.section2_arrow {
    grid-area: s2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}

.section1_shop {
    grid-area: s1;
    display: grid;
    grid-template-areas: "r1" "ar1" "r2" "ar2" "r3" "ar3" "r4" "ar4";
}

.section1_vagn {
    width: 100%;
    grid-area: s1;

}
.section2_vagn_info {
    width: 100%;
    grid-area: s2;
    border-radius: 5%;
    margin-left: 5%;
    padding: 5%;

}
.section1_vagn > img {
    border-radius: 5%;
    margin-top: 5%;
}


.row_1 > img , .row_2 > img , .row_3 > img, .row_4 > img{
    width: 10vw;
    height: 20vh;
    border-radius: 30px;
}
.row_1 {
    grid-area: r1;
    display: flex;
    justify-content: space-around;
    margin-bottom: -10% ;
    
}
.row_2 {
    grid-area: r2;
    display: flex;
    justify-content: space-around;
    margin-bottom: -10% ;
}
.row_3 {
    grid-area: r3;
    display: flex;
    justify-content: space-around;
    margin-bottom: -10% ;
}
.row_4 {
    grid-area: r4;
    display: flex;
    justify-content: space-around;
    margin-bottom: -10%;
}

.om_oss_info {
    background-color: rgb(160, 150, 150);
    border-radius: 2vw;
    grid-area: s1;
}
.om_oss_kontakt {
    background-color: rgb(160, 150, 150);
    border-radius: 2vw;
    grid-area: s2;
}
.vara_lokaler {
    background-color: rgb(160, 150, 150);
    border-radius: 2vw;
    grid-area: s3;
}
.pris_row_1 , .pris_row_2 , .pris_row_3 , .pris_row_4 {
    display: flex; 
    justify-content: space-around;
}

.mitten {
    display: flex;
    justify-content: center;
    align-items: center;
    
}



footer {
    grid-area: footer;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Styling -> font */
h4{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;    
}
 .om_oss_info > p , .om_oss_kontakt > p , .vara_lokaler > p  {
    font-size: 20px;
    margin: 20px;
}
.section2_vagn_info > p {
    font-size: 20px;
    margin: 15px;
    line-height: 1.5em;
}
.section2_vagn_info > h2 {
    font-size: 40px;
    color: green;
    margin: 2%;
    font-family: 'Montserrat', sans-serif;
}



h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;

}

/* Removes default styles for links in a, li */

a, li {
    text-decoration: none;
    list-style-type: none;

}

/* NAV */

nav {
    grid-area: nav;
    width: 100%;
    height: 65px;
    background-color: chocolate;
}

.navCont {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse; /*Temporary*/
}

.menu {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* NavArrows bottom*/
i {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 7px;
}
.next {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.previous {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.box_arrow {
    background-color: white;
    width: 1.5vw;
    height: 4vh;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 1vh;
}
.box_arrow_prev {
    background-color: white;
    width: 1.5vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
}

/*highlight for menu elements*/

.menu a {
    color: rgb(255, 255, 255);
}

.menu a:hover {
    color: rgb(202, 202, 202);
}

/*Hamburger meny*/
.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.line {
    width: 100%;
    height: 3px;
    background-color: chocolate;
    transition: all 0.8s;
}
.navbar {
    width: 300px;
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20% 0 0 20%;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}
.nav-list {
    text-align: right;

}
.nav-item{
    list-style: none;
    margin: 25px;
}
.nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    padding: 3px 0;
}
.change .line-1 {
    transform: rotateZ(-405deg) translate( -8px, 6px);
}
.change .line-2 {
    opacity: 0;
}
.change .line-3 {
    transform: rotateZ(405deg) translate( -8px, -6px);
}

.change {
    right: 0;
}

.nav-link::before,
.nav-link::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: chocolate;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}    

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,    
.nav-link:hover::after {
    transform: scaleX(1);
} 
